{% extends 'base.html' %}

    <!-- Main Start -->
    {% block content %}
    <main>
		<!-- Services -->
		<section class="container my-4">
			<div class="row">
                <div class="col-3">
                    {% include 'left_sidebar.html' %}
                </div>
                <div class="col-9">
                    <h3 class="mb-4 border-bottom pd-1">Dashboard</h3>
                </div>
            </div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
	{% endblock content %}
