{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">{{gellary.title|capfirst}} Images</h1>
			<div class="row">
				{% for gal in gellary_images %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                          <a data-lightbox="home-gallery" href="{{gal.img.url}}">  <img src="{{gal.img.url}}"class="card-img-top" alt="{{gal.alt_text}}"></a>
                        </div>
                    </div>
				{% endfor %}
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
    <!-- LightBox css -->
<link rel="stylesheet" type="text/css" href="{% static 'lightbox2-2.11.3/dist/css/lightbox.min.css' %}" />
<!-- LightBox Js -->
<script type="text/javascript" src="{% static 'lightbox2-2.11.3/dist/js/lightbox.min.js' %}"></script>

{% endblock %}