{% extends 'base.html' %}
{% load static %}
    <!-- Main Start -->
    {% block content %}
    <main>

<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">{{pages.title}}</h1>
			<p>{{pages.detail}}</p>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock content %}
{% comment %} <script type="text/javascript" src="assets/lightbox2-2.11.3/dist/js/lightbox.min.js"></script>
<link rel="stylesheet" type="text/css" href="assets/lightbox2-2.11.3/dist/css/lightbox.min.css" />
 {% endcomment %}
